.swiper-button-prev,
.swiper-button-next {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  min-width: 40px;
  box-shadow: 0 1px 3px #0000001f, 0 1px 2px #0000003d !important;
  transition: all 0.2s;
  margin: -11px 4px !important;
  /* padding: 12px !important; */
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 7px !important;
  color: black;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background: rgb(205, 88, 88);
}

@media ((max-width: 1440px) and (orientation: landscape)) {
  .swiper-button-prev,
  .swiper-button-next {
    width: 40px;
    height: 40px;
    min-width: 40px;
  }
  .swiper-button-prev:after,
  .swiper-button-next:after {
    font-size: 12px !important;
  }
}

@media ((max-width: 600px)){
  .swiper-button-prev,
  .swiper-button-next {
    width: 25px;
    height: 25px;
    min-width: 25px;
  }
  .swiper-button-prev:after,
  .swiper-button-next:after {
    font-size: 12px !important;
  }
}
